package controllers

import "github.com/gin-gonic/gin"

var {{.EntityName}}ProviderSet = wire.NewSet(
	New{{.EntityName}}Controller,
	repositories.New{{.EntityName}}Repository,
	repositories.Provide{{.EntityName}}Repo,
)

// {{.EntityName}}Controller handles HTTP requests for {{.EntityName}}
type {{.EntityName}}Controller struct {
	repository repositories.I{{.EntityName}}Repository
}

// New{{.EntityName}}Controller creates a new controller
func New{{.EntityName}}Controller(repository repositories.I{{.EntityName}}Repository, router *gin.RouterGroup) *{{.EntityName}}Controller {
	controller := &{{.EntityName}}Controller{repository: repository}
  controller.RegisterRoutes(router)
  return controller
}

// RegisterRoutes sets up the routing for the {{.EntityName}} controller
func (c *{{.EntityName}}Controller) RegisterRoutes(router *gin.RouterGroup) {
	{{.EntityName}} := router.Group("/{{snakeCase .EntityName}}")
	{
		{{.EntityName}}.POST("", c.Create)
		{{.EntityName}}.POST("bulk", c.BulkCreate)
		{{.EntityName}}.GET("", func(ctx *gin.Context) {
			c.GetAll(ctx)
		})
		{{.EntityName}}.GET("/:id", c.GetByID)
		{{.EntityName}}.PUT("/:id", c.Update)
		{{.EntityName}}.PUT("bulk", c.BulkUpdate)
		{{.EntityName}}.DELETE("/:id", c.Delete)
		
		// Custom endpoints
		{{- range .CustomEndpoints}}
		{{.EntityName}}.{{.HTTPMethod}}("{{.Path}}", c.{{.EndpointName}})
		{{- end}}
	}
}
