package dto

import "time"

type PaginationQuery struct {
	Page                     int    `form:"page,omitempty" json:"page,omitempty"`
	Size                     int    `form:"size,omitempty" json:"size,omitempty"`
	SortBy                   string `form:"sortBy,omitempty" json:"sortBy,omitempty"`
	SortOrder                string `form:"sortOrder,omitempty" json:"sortOrder,omitempty"`
}

type PaginationResponse struct {
	PageSize       int    `form:"pageSize,omitempty" json:"pageSize,omitempty"`
	TotalPages     int    `form:"totalPages,omitempty" json:"totalPages,omitempty"`
	TotalItemCount int    `form:"totalItemCount,omitempty" json:"totalItemCount,omitempty"`
}


type DateQuery struct {
	StartDate *time.Time `form:"startDate,omitempty" json:"startDate,omitempty"`
	EndDate   *time.Time `form:"endDate,omitempty" json:"endDate,omitempty"`
}

type ErrorResponse struct {
	Error                     string    `form:"error,omitempty" json:"error,omitempty"`
}
