package models

import (
	"gorm.io/gorm"

	"github.com/google/uuid"
	"time"
)

// {{.EntityName}} represents the {{.EntityName}} entity
type {{.EntityName}} struct {
  gorm.Model
  {{$entityName := .EntityName}}
	{{- range .Fields}}
	{{toGoFieldName .FieldName}} *{{convertTypeScriptTypeToGo .FieldType}} `{{formatGormTags . $.TableName}} {{formatValidationTags .}}`
	{{- end}}
	{{- range .Relations}}
	{{formatRelation $entityName .}}
	{{- end}}
}

// TableName sets the table name for the {{.EntityName}} model
func ({{.EntityNameLower}} *{{.EntityName}}) TableName() string {
	return "{{.GetTableName}}"
}

func ({{camelCase .EntityName}} *{{.EntityName}}) BeforeCreate(_ *gorm.DB) (err error) {
	idHasError := {{camelCase .EntityName}}.{{toGoFieldName .GetPrimaryKeyName}} == nil
	if !idHasError {
		if err := uuid.Validate(*{{camelCase .EntityName}}.{{toGoFieldName .GetPrimaryKeyName}}); err != nil {
			idHasError = true
		}
	}
	if idHasError {
		id := uuid.New().String()
		{{camelCase .EntityName}}.{{toGoFieldName .GetPrimaryKeyName}} = &id
	}
	return
}

