package models

import (
	"gorm.io/gorm"
)

// {{.EntityName}} represents the {{.EntityName}} entity
type {{.EntityName}} struct {
  gorm.Model
	{{- range .Fields}}
	{{toGoFieldName .FieldName}} {{convertTypeScriptTypeToGo .FieldType}} `{{formatGormTags . $.TableName}} {{formatValidationTags .}}`
	{{- end}}
	{{- range .Relations}}
	{{formatRelation .}}
	{{- end}}
	{{- if .AdditionalFeatures.SoftDelete}}
	DeletedAt *gorm.DeletedAt `gorm:"index"`
	{{- end}}
}

// TableName sets the table name for the {{.EntityName}} model
func ({{.EntityNameLower}} *{{.EntityName}}) TableName() string {
	return "{{.GetTableName}}"
}
